=render partial: "/layouts/header"
%h1 Об авторе
%p{align: "center"}
  =image_tag("about.png")
%p{align: "center"}
  %font{color: "black", size: "5", face: "cursive"}
    Студент (бакалавр) ВолгГТУ.
=render partial: "/layouts/footer"
