=render partial: "/layouts/header"
%h1 Помощь
%p{align: "left"}
  %font{color: "black", size: "4", face: "sans-serif"}
    %ol
      %li Чтобы создать новую трансляцию, нажмите "Создать новую трансляцию"
      %p
      %li Чтобы посмотреть/обновить/отредактировать/удалить существующие трансляции или помотреть работу транслятора, нажмите "Транслированные программы"
      %p
      %li Чтобы посмотреть информацию об авторе, нажмите "Об авторе"
      %p
      %li Чтобы вернуться на главную страницу, нажмите "На главную страницу"
=render partial: "/layouts/footer"
