!!!
%html
  %body
    %footer
      %p{align: "left"}
        %font{color: "navy", size: "3", face: "fantasy"}
          Copyright Валерия Мануйлова
      %p{align: "left"}
        %font{color: "navy", size: "3", face: "fantasy"}
          Волгоград 2014
